<!doctype html>
<html lang="en">

<head>
<title>Application Apprentissagesorld!</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<link th:href="@{/static/css/material-dashboard.css}" rel="stylesheet"
	type="text/css" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(function() {
		$(".datepicker").datepicker();
	});
</script>
</head>

<body>
	<div class="wrapper ">
		<div th:replace="template::menu"></div>

		<div th:replace="template::notification"></div>

		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<!-- your content here -->


					<form th:action="@{/AjouterUtilisateur}" th:object="${user}"
						method="POST" enctype="multipart/form-data">
						<fieldset>
							<legend>Ajouter un utilisateur</legend>
							<div class="form-group">
								<label for="langue">Langue:</label> <input type="radio"
									class="form-check-label" th:each="langue : ${langues}"
									id="langue" name="langue" th:text="${langue.nomLangue} "
									th:value="${langue.id}" />
							</div>

							<div class="form-group">
								<label for="prenom">Votre prénom</label> <input type="text"
									class="form-control" id="prenom" aria-describedby="emailHelp"
									th:field="*{fullname}" required />
							</div>

							<div class="form-group">
								<label for="mail">E-mail</label> <input type="mail"
									class="form-control" id="email"
									aria-describedby="emailUtilisateur" th:field="*{email}"
									required />
							</div>
							<div class="form-group">
								<label for="motDePasse">Mot de passe</label> <input
									type="password" class="form-control" id="motDePasse"
									aria-describedby="emailHelp" th:field="*{password}" required />
							</div>
							<div class="form-group">
								<label for="role">Rôle :</label> <input type="radio"
									class="form-check-label" th:each="role : ${roles}" id="role"
									name="role" th:text="${role.role} " th:value="${role.id}" /><br>
							</div>

							<div class="form-group">
								<label>Date début </label>
							</div>
							<div class="form-group">
								<input type="text" placeholder="jj/mm/aaaa" class="datepicker"
									th:field="*{dateDebut}" />
							</div>
							<div class="form-group">
								<label>Date fin</label>
							</div>
							<div class="form-group">
								<input type="text" placeholder="jj/mm/aaaa" class="datepicker"
									th:field="*{dateFin}" />
							</div>

							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary">Ajouter</button>
								</div>
							</div>

						</fieldset>
					</form>
				</div>
			</div>

			<div th:replace="template::footer"></div>
		</div>

	</div>


</body>

</html>