<!doctype html>
<html lang="en">
<head>
<title>Application Apprentissage</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<link th:href="@{/static/css/material-dashboard.css}" rel="stylesheet"
	type="text/css" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>
<body>
	<div class="wrapper ">
		<div th:replace="template::menu"></div>

		<div th:replace="template::notification"></div>

		<div class="main-panel">
			<div class="content">
				<div class="container-fluid"> 
					<form th:action="@{/AjouterLangues}" th:object="${langue}"
						method="POST" enctype="multipart/form-data"
						class="form-horizontal">
						<fieldset>
							<legend>Ajouter une langue</legend>

							<div class="form-group">
								<label for="exampleInputEmail1">Entrez le nom de langue:</label>
								<input type="text" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" th:field="*{nomLangue}" required />
							</div>
							<div class="form-group">
								<label for="exampleFormControlFile1">choisissez une
									image</label>
							</div>
							<input type="file" class="form-control-file"
								id="exampleFormControlFile1" name="file">
							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary">Ajouter</button>
								</div>
							</div>


						</fieldset>
					</form>
				</div>
			</div>

			<div th:replace="template::footer"></div>
		</div>

	</div>


</body>

</html>