<!doctype html>
<html lang="en">
<head>
<title>Application Apprentissage</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<link th:href="@{/static/css/material-dashboard.css}" rel="stylesheet"
	type="text/css" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<script type="text/javascript">
	function afficher(select) {
		document.getElementById("qcmDIV").style.display = 'none';
		document.getElementById("ecouterDIV").style.display = 'none';
		document.getElementById("associerDIV").style.display = 'none';
		var selectedOption = select.options[select.selectedIndex];
		if (selectedOption.value == 'QCM') {
			document.getElementById("qcmDIV").style.display = 'block';
		}
		 if (selectedOption.value == 'Ecouter') {
			document.getElementById("ecouterDIV").style.display = 'block';
		}
		 else if (selectedOption.value == 'Associer') {
				document.getElementById("associerDIV").style.display = 'block';
			}
		 else	 if (selectedOption.value == 'Ordonner') {
				document.getElementById("ordonnerDIV").style.display = 'block';
			}
	}
</script>
</head>
<body>
	<div class="wrapper ">
		<div th:replace="template::menu"></div>
		<div th:replace="template::notification"></div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<!-- your content here -->
					<form th:action="@{/AjouterExercice}" th:object="${exercice}"
						method="POST" enctype="multipart/form-data">
						<fieldset>
							<legend>Ajouter un exercice </legend>
							<div class="form-group">
								<label for="lecon">Leçons</label>
								<input type="radio" th:each="lecon : ${lecons}" id="lecon"
									name="lecon" th:text="${lecon.nomLecon} "
									th:value="${lecon.id}">
								</option>
								</select>
							</div>
							<div class="form-group">
								<label for="titreExercice">Entrez le titre de
									l'exercice:</label> <input type="text" class="form-control"
									id="titreExercice" th:field="*{titreExercice}" required />
							</div>
							<div class="form-group">
								<label for="sousTitreExercie">sous titre de l'exercice:</label>
								<input type="text" class="form-control"
									id="sousTitreExercice" 
									th:field="*{sousTitreExercice}" required />
							</div>
							<div class="form-group">
								<label for="typeLecon">Types de leçons</label> <select
									class="form-control selectpicker" th:field="*{typeLecon}"
									id="typeLecon">
									<option value="">--sélectionner--</option>
									<option
										th:each="typeLecon : ${T(com.afrilangues.domain.TypeLecon).values()}"
										th:value="${typeLecon}" th:text="${typeLecon}">typeLecon
									</option>

								</select>
							</div>
							<div class="form-group">
								<label for="typeExercice">Types d’exercices</label> <select
									onchange="afficher(this)" class="form-control selectpicker"
									th:field="*{typeExercice}" id="typeExercice">
									<option value="">--sélectionner--</option>
									<option
										th:each="typeExercice : ${T(com.afrilangues.domain.TypeExercice).values()}"
										th:value="${typeExercice}" th:text="${typeExercice}">typeExercice
									</option>
								</select>
							</div>
							<div id="qcmDIV" style="display: none">
								<div class="form-group">
									<label for="exerciceQCM">entrez votre question</label> <input
										type="text" class="form-control" id="questionQCM"
										th:field="*{exerciceQCM.question}" />
								</div>
								<div class="form-group">
									<label for="fileImage">choisissez les images</label>
								</div>
								<input type="file" class="form-control-file"
									id="image1" name="image1"> <input
									type="file" class="form-control-file"
									id="image2" name="image2"> <input
									type="file" class="form-control-file"
									id="image3" name="image3"> <input
									type="file" class="form-control-file"
									id="image4" name="image4">
								<div class="form-group">
									<label for="question">Mots à sélectionner</label> <input
										th:field="*{exerciceQCM.titreImage1}" type="text"
										class="form-control" 
										placeholder="Entrez le titre de l'image 1" /><br> <input
										th:field="*{exerciceQCM.titreImage2}" type="text"
										class="form-control" 
										placeholder="Entrez le titre de l'image 2" /><br> <input
										th:field="*{exerciceQCM.titreImage3}" type="text"
										class="form-control" 
										placeholder="Entrez le titre de l'image 3" /><br> <input
										th:field="*{exerciceQCM.titreImage4}" type="text"
										class="form-control" 
										placeholder="Entrez le titre de l'image 4" />
								</div>
								<div class="form-group">
									<label for="fileAudio">audio</label>
								</div>
								<input type="file" class="form-control-file" id="audio1"
									name="audio1">
								<div class="form-group">
									<label for="fileAudio">audio</label>
								</div>
								<input type="file" class="form-control-file" id="audio2"
									name="audio2">
								<div class="form-group">
									<label for="fileOudo">audio</label>
								</div>
								<input type="file" class="form-control-file" id="audio3"
									name="audio3">
								<div class="form-group">
									<label for="fileOudo">audio</label>
								</div>
								<input type="file" class="form-control-file" id="audio4"
									name="audio4">
								<div class="form-group">
									<label for="Reponse" style="color: red;">Tapez la
										réponse</label>
								</div>
								<div class="form-group">
									<label>Entre le bon titre </label> <input type="text"
										th:field="*{exerciceQCM.reponseTitre}" class="form-control"
										placeholder="Entrez le bon reponse(titre)" /><br>
								</div>
								
							</div>
							
							
						<div id="ecouterDIV" style="display: none">
						
								<div class="form-group">
									<label for="exerciceQCM">Texte en langue africaine  </label> <input
										type="text" class="form-control" id="textAfriLangue"
										th:field="*{exerciceEcouter.textAfriLangue}" />
								</div>
								<div class="form-group">
									<label for="exerciceQCM">Entrez la traduction </label> <input
										type="text" class="form-control" id="textTraduction"
										th:field="*{exerciceEcouter.textTraduction}" />
								</div>
								
								<div class="form-group">
									<label for="fileAudio">audio</label>
								</div>
								<input type="file" class="form-control-file" id="audioEcouter"
									name="audioEcouter">
								</div>
								
								<div id="associerDIV" style="display: none">
						<div class="form-group">
									<label for="exerciceAssocier">mot 1</label> <input
										type="text" class="form-control" id="mot1"  placeholder="Ecrire le mot"
										th:field="*{exerciceAssocier.mot1}" />
								</div>
								
								<div class="form-group">
									<label for="exerciceAssocier">Réponse 1</label> <input
										type="text" class="form-control" id="réponse1"  placeholder="Tapez la réponse"
										th:field="*{exerciceAssocier.reponse1}" />
								</div>
								<div class="form-group">
									<label for="fileAudio">audio 1</label>
								</div>
								<input type="file" class="form-control-file" id="audio1ExerciceAssocier"
									name="audio1ExerciceAssocier">
								<div class="form-group">
									<label for="exerciceAssocier">mot 2</label> <input
										type="text" class="form-control" id="mot2"  placeholder="Ecrire le mot"
										th:field="*{exerciceAssocier.mot2}" />
								</div>
								<div class="form-group">
									<label for="exerciceAssocier">Réponse 2</label> <input
										type="text" class="form-control" id="réponse2"  placeholder="Tapez la réponse"
										th:field="*{exerciceAssocier.reponse2}" />
								</div>
								<div class="form-group">
									<label for="fileAudio">audio 2</label>
								</div>
								<input type="file" class="form-control-file" id="audio2ExerciceAssocier"
									name="audio2ExerciceAssocier">
									<div class="form-group">
									<label for="exerciceAssocier">mot 3 </label> <input
										type="text" class="form-control" id="mot3"  placeholder="Ecrire le mot"
										th:field="*{exerciceAssocier.mot3}" />
								</div>
								
								<div class="form-group">
									<label for="exerciceAssocier">Réponse 3</label> <input
										type="text" class="form-control" id="réponse3"  placeholder="Tapez la réponse"
										th:field="*{exerciceAssocier.reponse3}" />
								</div>
									
									
										<div class="form-group">
									<label for="fileAudio">audio 3</label>
								</div>
								<input type="file" class="form-control-file" id="audio3ExerciceAssocier"
									name="audio3ExerciceAssocier">
								</div>
								
								<div id="ordonnerDIV" style="display: none">
								<div class="form-group">
									<label for="exerciceAssocier">Phrase à ordonner</label> <input
										type="text" class="form-control" id="réponse3"  placeholder="Tapez la phrase"
										th:field="*{exerciceOrdonner.phraseOrdonner}" />
								</div>
								<div class="form-group">
									<label for="fileAudio">audio </label>
								</div>
								<input type="file" class="form-control-file" id="audioPhraseOrdonner"
									name="audioPhraseOrdonner">
								</div>
							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary">Ajouter</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div th:replace="template::footer"></div>
		</div>
	</div>
</body>
</html>