<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">
<head>
<title>Application Apprentissage</title>
</head>
<body class="text-center">
	<div layout:fragment="content">
	
	<form th:action="@{/signup}" th:object="${user}"
						method="GET" enctype="multipart/form-data">
						<fieldset>
							<legend>choisissez une langue</legend>

							<div class="form-group">
								<label for="exampleInputEmail1">Langues:</label> 

								<input type="radio" class="form-check-label" 
									th:each="langue : ${langues}" id="langue" name="langue"
									th:text="${langue.nomLangue} " th:value="${langue.id}"></div>
									
					<button class="btn btn-md btn-success btn-block" type="Submit">valider</button> 		
	</div>
</body>
</html>