<!doctype html>
<html lang="en">
<head>
<title>Application Apprentissage</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- Material Kit CSS -->
<link href="/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<link th:href="@{/static/css/material-dashboard.css}" rel="stylesheet"
	type="text/css" />

</head>

<body>
	<div class="wrapper ">
		<div th:replace="template::menu"></div>

		<div th:replace="template::notification"></div>

		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">				   
				</div>
			</div>

			<div th:replace="template::footer"></div>
		</div>

	</div>


</body>

</html>