<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <title>Application Apprentissage</title>
    </head>
    <body>
   
       <div layout:fragment="content">
<div><nav>            <h2>Apprenez gratuitement une langue africaine en 10 minutes par jour
</h2>

      <a th:href="@{/login}"><button class="favorite styled"
        type="button">
commencez maintenant</button></a> <!-- </p>--></nav></div>
   
    </body>
</html>