<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Application Apprentissage</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
</head>
<body>
	<div class="wrapper ">
		<div th:fragment="menu">
			<div class="sidebar" data-color="purple"
				data-background-color="white">
				<div class="logo">
					<a href="http://www.creative-tim.com" class="simple-text logo-mini">

					</a> <a href="http://www.creative-tim.com"
						class="simple-text logo-normal"> <img
						th:src="@{/image/afrilang.gif}" width="50" height="50" />
					</a>
				</div>


				<!-- <span th:text="${#authentication.getPrincipal().getUsername()}"></span> -->

				<div class="sidebar-wrapper">
					<ul class="nav">
						<div sec:authorize="hasAuthority('ADMIN')">
							<li class="nav-item active  "><a class="nav-link"
								href="/dashboard"> <!--   <i class="material-icons"></i>-->
									<p >langues</p>
							</a>
								<ul  >
									<li ><a href="/AjouterLangues"><i></i> Ajouter</a></li>
									<li><a href="/listLangues"><i></i> Gérer</a></li>
								</ul></li>
								
								<li class="nav-item active  "><a class="nav-link"
								href="/dashboard"> <!--   <i class="material-icons"></i>-->
									<p>utilisateur</p>
							</a>
								<ul>
									<li><a href="/AjouterUtilisateur"><i></i> Ajouter</a></li>
									<li><a href="/listUtilisateur"><i></i> Gérer</a></li>
								</ul>
								</li>
						</div>
						<!-- 						</div> -->
						<!-- 						<div sec:authorize="hasRole('USER')"> -->
						<li class="nav-item active  "><a class="nav-link"
							href="/dashboard"> <i class="material-icons"></i>
								<p>thèmes</p>
						</a>
							<ul >
								<li><a href="/AjouterTheme"><i></i> Ajouter</a></li>
								<li><a href="/listTheme"><i></i> Gérer</a></li>
							</ul></li>
						<li class="nav-item active  "><a class="nav-link"
							href="/dashboard"> <i class="material-icons"></i>
								<p>leçons</p>
						</a>
							<ul>
								<li><a href="/AjouterLecon"><i></i> Ajouter</a></li>
								<li><a href="/listLecon"><i></i> Gérer</a></li>
							</ul>
						<li class="nav-item active  "><a class="nav-link"
							href="/dashboard"> <i class="material-icons"></i>
								<p>exercices</p>
						</a></li>
						<ul>
							<li><a href="/AjouterExercice"><i></i> Ajouter</a></li>
							<li><a href="/listExercice"><i></i> Gérer</a></li>
						</ul>
						</li>
						<!-- 						</div> -->
					</ul>
				</div>
			</div>
		</div>
		<div th:fragment="notification">
			<nav
				class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
				<a class="navbar-brand" href="javascript:;"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					aria-controls="navigation-index" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="sr-only">Toggle navigation</span> <span
						class="navbar-toggler-icon icon-bar"></span> <span
						class="navbar-toggler-icon icon-bar"></span> <span
						class="navbar-toggler-icon icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="javascript:;">
								<i class="material-icons">notifications</i> Notifications
						</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div th:fragment="footer">
			<footer class="footer">
				<div class="container-fluid">
					<nav class="float-left">
						<ul>
							<li><a href="https://afrilangues.com/"> Afrilangues </a></li>
						</ul>
					</nav>
					<div class="copyright float-right">
						&copy;
						<script>
							document.write(new Date().getFullYear())
						</script>
						, <i class="material-icons">favorite</i> par <a
							href="https://afrilangues.com/" target="_blank"> Afrilangues
						</a>Tous droits réservés.
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>