<!doctype html>
<html lang="en">

<head>
<title>Application Apprentissage</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<link th:href="@{/static/css/material-dashboard.css}" rel="stylesheet"
	type="text/css" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>
<body>
	<div class="wrapper ">
		<div th:replace="template::menu"></div>
		<div th:replace="template::notification"></div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<!-- your content here -->
					<form action="#" th:action="@{/updateTheme/{id}(id=${theme.id})}"
						th:object="${theme}" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label>Langues:</label> 
								<input type="radio"  th:each="langue : ${langues}" id="langue"
									th:field="*{langue.id}" name="langue"
									th:text="${langue.nomLangue} " th:value="${langue.id}"></input>
						</div>
						<div class="form-group">
							<label for="name">modifier theme</label> <input type="text"
								class="form-control" th:field="*{nomTheme}" id="name"
								placeholder="Name"> <span
								th:if="${#fields.hasErrors('nomTheme')}" th:errors="*{nomTheme}"></span>
						</div>
						<div class="form-group">
							<label>choisissez une image</label>
						</div>
						<input type="file" name="file">
						<div class="form-group row">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary">Modifier</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div th:replace="template::footer"></div>
		</div>
	</div>
</body>
</html>