<!doctype html>
<html lang="en">

<head>
<title>Application Apprentissage</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<link th:href="@{/static/css/material-dashboard.css}" rel="stylesheet"
	type="text/css" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>

<body>
	<div class="wrapper ">
		<div th:replace="template::menu"></div>

		<div th:replace="template::notification"></div>

		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<!-- your content here -->
					<form>
						<table class="table table-striped">
							<th >Nom de la thème</th>
							<th >logo</th>
							<th>Langue</th>
							<th ></th>
							<th></th>

							<tr class="tt" th:each="theme : ${themes}"  >
								<td class="tt"><span th:text="${theme.nomTheme}"> </span></td>
								<td class="tt"><span><img alt=""
										th:src="*{'data:image/jpeg;base64,'+{theme.image}}"
										style="width: 150px; height: 150px;"> </span></td>


								<td class="tt">
<!-- 								<span    th:text="${theme.langue.nomLangue}"> -->
								<span   th:text="${theme.langue} ? ${theme.langue.nomLangue } : 'Aucune langue' ">
								
								
								</span></td>
								<td class="tt"><a class="btn btn-danger"
									th:href="@{/deleteTheme/{id}(id=${theme.id})}">supprimer</a> 
								</td>
								<td class="tt"><a class="btn btn-success"
									th:href="@{/editTheme/{id}(id=${theme.id})}">modifier</a> 		
								</td>
							</tr>
						</table>

					</form>
				</div>
			</div>

			<div th:replace="template::footer"></div>
		</div>

	</div>


</body>

</html>