<!doctype html>
<html lang="en">

<head>
<title>Application Apprentissage</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- Material Kit CSS -->
<link href="/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<link th:href="@{/static/css/material-dashboard.css}" rel="stylesheet"
	type="text/css" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
	<script type="text/javascript">
	function afficher(select) {
		document.getElementById("qcmDIV").style.display = 'none';
		document.getElementById("ecouterDIV").style.display = 'none';
		document.getElementById("associerDIV").style.display = 'none';
		document.getElementById("ordonnerDIV").style.display = 'none';
		var selectedOption = select.options[select.selectedIndex];
		if (selectedOption.value == 'QCM') {
			document.getElementById("qcmDIV").style.display = 'block';}
			 if (selectedOption.value == 'Ecouter') {
					document.getElementById("ecouterDIV").style.display = 'block';
				}
			 if (selectedOption.value == 'Associer') {
					document.getElementById("associerDIV").style.display = 'block';
				}
			 if (selectedOption.value == 'Ordonner') {
					document.getElementById("ordonnerDIV").style.display = 'block';
				}
	}
</script>
</head>
<body>
	<div class="wrapper ">
		<div th:replace="template::menu"></div>
		<div th:replace="template::notification"></div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<!-- your content here -->
					<form action="#"
						th:action="@{/updateExercice/{id}(id=${exercice.id})}"
						th:object="${exercice}" method="post"
						enctype="multipart/form-data">
						
						<div class="form-group">
							<label for="exampleInputEmail1">Leçons</label> <input
								type="radio" th:each="lecon : ${lecons}" id="lecon"
								th:field="*{lecon.id}" name="lecon" th:text="${lecon.nomLecon} "
								th:value="${lecon.id}"></input>
						</div> 
						
						<div class="form-group">
							<label for="name">modifier le titre d'exercice</label> <input class="form-control"
								type="text" th:field="*{titreExercice}" id="name"
								placeholder="Name"> <span
								th:if="${#fields.hasErrors('titreExercice')}"
								th:errors="*{titreExercice}"></span>
						</div>
						<div class="form-group">
							<label for="name">modifier le sous titre d'exercice </label> <input class="form-control"
								type="text" th:field="*{sousTitreExercice}" id="name"
								placeholder="Name"> <span
								th:if="${#fields.hasErrors('sousTitreExercice')}"
								th:errors="*{sousTitreExercice}"></span>
						</div>
						
						
						 <div class="form-group">
                    <label for="typeLecon"> modifier types de leçons</label>
                    <select class="form-control selectpicker" th:field="*{typeLecon}" id="typeLecon">
                        <option value="" th:text="${exercice.typeLecon}"></option>
                        <option th:each="typeLecon : ${T(com.afrilangues.domain.TypeLecon).values()}"
                                th:value="${typeLecon}"
                                th:text="${typeLecon}">typeLecon
                        </option>

                    </select>
                </div>
                
                <div class="form-group">
                    <label for="typeExercice"> modifier types d'exercices</label>
                    <select class="form-control selectpicker" th:field="*{typeExercice}" id="typeExercice" onchange="afficher(this)">
                        <option value="" th:text="${exercice.typeExercice}"></option>
                        <option th:each="typeExercice : ${T(com.afrilangues.domain.TypeExercice).values()}"
                                th:value="${typeExercice}"
                                th:text="${typeExercice}">typeExercice
                        </option>

                    </select>
                </div>
						
						
						<div id="qcmDIV" style="display: none">
								<div class="form-group">
									<label for="exerciceQCM">modifier votre question</label> <input
										type="text" class="form-control" id="exerciceQCM"
										th:field="*{exerciceQCM.question}" /> <span
								th:if="${#fields.hasErrors('exerciceQCM.question')}"
								th:errors="*{exerciceQCM.question}"></span>
								</div>
								<div class="form-group">
									<label for="fileImage">choisissez les images</label>
								</div>
								<input type="file" class="form-control-file"
									id="image1" name="image1"> <input
									type="file" class="form-control-file"
									id="image2" name="image2"> <input
									type="file" class="form-control-file"
									id="image3" name="image3"> <input
									type="file" class="form-control-file"
									id="image4" name="image4">

								<div class="form-group">
									<label for="question">Mots à sélectionner</label> <input
										th:field="*{exerciceQCM.titreImage1}" type="text"
										class="form-control" 
										placeholder="Entrez le titre de l'image 1" /><span
								th:if="${#fields.hasErrors('exerciceQCM.titreImage1')}"
								th:errors="*{exerciceQCM.titreImage1}"></span>
										<br> 
										<input
										th:field="*{exerciceQCM.titreImage2}" type="text"
										class="form-control" 
										placeholder="Entrez le titre de l'image 2" />
										<span
								th:if="${#fields.hasErrors('exerciceQCM.titreImage2')}"
								th:errors="*{exerciceQCM.titreImage2}"></span>
										<br> <input
										th:field="*{exerciceQCM.titreImage3}" type="text"
										class="form-control" 
										placeholder="Entrez le titre de l'image 3" />
										<span
								th:if="${#fields.hasErrors('exerciceQCM.titreImage3')}"
								th:errors="*{exerciceQCM.titreImage3}"></span>
										<br> <input
										th:field="*{exerciceQCM.titreImage4}" type="text"
										class="form-control" 
										placeholder="Entrez le titre de l'image 4" />
										<span
								th:if="${#fields.hasErrors('exerciceQCM.titreImage4')}"
								th:errors="*{exerciceQCM.titreImage4}"></span>
								</div>
								<div class="form-group">
									<label for="fileOudo">audio</label>
								</div>

								<input type="file" class="form-control-file" id="audio1"
									name="audio1">
								<div class="form-group">
									<label for="fileOudo">audio</label>
								</div>
								<input type="file" class="form-control-file" id="audio2"
									name="audio2">
								<div class="form-group">
									<label for="fileOudo">audio</label>
								</div>
								<input type="file" class="form-control-file" id="audio3"
									name="audio3">
								<div class="form-group">
									<label for="fileOudo">audio</label>
								</div>
								<input type="file" class="form-control-file" id="audio4"
									name="audio4">
								<div class="form-group">
									<label for="Reponse" style="color: red;">Tapez la
										réponse</label>
								</div>

								<div class="form-group">
									<label>Entre le bon titre </label> <input type="text"
										th:field="*{exerciceQCM.reponseTitre}" class="form-control"
										 placeholder="Entrez le bon reponse(titre)" />
										<span
								th:if="${#fields.hasErrors('exerciceQCM.reponseTitre')}"
								th:errors="*{exerciceQCM.reponseTitre}"></span><br>
								</div>
								<div class="form-group">
									<label for="fileImage">entrez le bon image</label>
								</div>
								<input type="file" class="form-control-file"
									id="image5" name="image5">
							</div>
						
						<div id="ecouterDIV" style="display: none">
						
						<div class="form-group">
									<label for="question">Texte en langue africaine</label> <input
										th:field="*{exerciceEcouter.textAfriLangue}" type="text"
										class="form-control" 
										 /><span
								th:if="${#fields.hasErrors('exerciceEcouter.textAfriLangue')}"
								th:errors="*{exerciceEcouter.textAfriLangue}"></span></div>
					<div class="form-group">
									<label for="question">Entrez la traduction</label> <input
										th:field="*{exerciceEcouter.textTraduction}" type="text"
										class="form-control" 
										 /><span
								th:if="${#fields.hasErrors('exerciceEcouter.textTraduction')}"
								th:errors="*{exerciceEcouter.textTraduction}"></span></div>
								
								<div class="form-group">
									<label for="fileAudio">audio</label>
								</div>
								<input type="file" class="form-control-file" id="audioEcouter"
									name="audioEcouter">
						</div>
						
						<div id="associerDIV" style="display: none">
							<div class="form-group">
									<label for="mot1">Mot 1</label> <input
										th:field="*{exerciceAssocier.mot1}" type="text"
										class="form-control" 
										 /><span
								th:if="${#fields.hasErrors('exerciceAssocier.mot1')}"
								th:errors="*{exerciceAssocier.mot1}"></span></div>
							<div class="form-group">
									<label for="reponse1">Réponse 1</label> <input
										th:field="*{exerciceAssocier.reponse1}" type="text"
										class="form-control" 
										 /><span
								th:if="${#fields.hasErrors('exerciceAssocier.reponse1')}"
								th:errors="*{exerciceAssocier.reponse1}"></span></div>	
								
								<div class="form-group">
									<label for="fileAudio">audio 1</label>
								</div>
								<input type="file" class="form-control-file" id="audio1ExerciceAssocier"
									name="audio1ExerciceAssocier">
									
						<div class="form-group">
									<label for="mot2">Mot 2</label> <input
										th:field="*{exerciceAssocier.mot2}" type="text"
										class="form-control" 
										 /><span
								th:if="${#fields.hasErrors('exerciceAssocier.mot2')}"
								th:errors="*{exerciceAssocier.mot2}"></span></div>
								<div class="form-group">
									<label for="reponse2">Réponse 2</label> <input
										th:field="*{exerciceAssocier.reponse2}" type="text"
										class="form-control" 
										 /><span
								th:if="${#fields.hasErrors('exerciceAssocier.reponse2')}"
								th:errors="*{exerciceAssocier.reponse2}"></span></div>
								<div class="form-group">
									<label for="fileAudio">audio 2</label>
								</div>
								<input type="file" class="form-control-file" id="audio2ExerciceAssocier"
									name="audio2ExerciceAssocier">
									
								<div class="form-group">
									<label for="mot3">Mot 3</label> <input
										th:field="*{exerciceAssocier.mot3}" type="text"
										class="form-control" 
										 /><span
								th:if="${#fields.hasErrors('exerciceAssocier.mot3')}"
								th:errors="*{exerciceAssocier.mot3}"></span></div>
								
								
								
								<div class="form-group">
									<label for="reponse3">Réponse 3</label> <input
										th:field="*{exerciceAssocier.reponse3}" type="text"
										class="form-control" 
										 /><span
								th:if="${#fields.hasErrors('exerciceAssocier.reponse3')}"
								th:errors="*{exerciceAssocier.reponse3}"></span></div>
								
								
									
									
									<div class="form-group">
									<label for="fileAudio">audio 3</label>
								</div>
								<input type="file" class="form-control-file" id="audio3ExerciceAssocier"
									name="audio3ExerciceAssocier">
						</div>
						<div id="ordonnerDIV" style="display: none">
						
						<div class="form-group">
									<label for="reponse3">Phrase à ordonner</label> <input
										th:field="*{exerciceOrdonner.phraseOrdonner}" type="text"
										class="form-control" 
										 /><span
								th:if="${#fields.hasErrors('exerciceOrdonner.phraseOrdonner')}"
								th:errors="*{exerciceOrdonner.phraseOrdonner}"></span></div>
								
								<div class="form-group">
									<label for="fileAudio">audio </label>
								</div>
								<input type="file" class="form-control-file" id=" audioPhraseOrdonner"
									name=" audioPhraseOrdonner">
						
						
						</div>
						<div class="form-group row">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary">Modifier</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div th:replace="template::footer"></div>
		</div>
	</div>
</body>
</html>